{% extends viewbaseLayout is defined ? viewbaseLayout : pagelayout %}

{% trans_default_domain 'user_settings' %}

{% block form %}
    {% form_theme form '@ezdesign/form_fields.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form.identifier, {'attr': {'hidden': 'hidden'}}) }}
    <div class="ez-table-header ground-base">
        <div class="ez-table-header__headline">{{ user_setting.name }}</div>
    </div>
    <div class="bg-white p-4">
        {{ form_row(form.value, {'label_attr': {'class': 'ez-label'}}) }}
    </div>
    {{ form_widget(form.update, {'attr': {'hidden': 'hidden'}}) }}
    {{ form_end(form) }}
{% endblock %}
