{% extends view_base_layout is defined ? view_base_layout : page_layout %}

{% trans_default_domain 'user_settings' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form.identifier, {'attr': {'hidden': 'hidden'}}) }}
    {% include '@ezdesign/ui/component/table/table_header.html.twig' with {
        headline: user_setting.name,
    } %}
    <div class="bg-white p-4">
        {{ form_row(form.value) }}
    </div>
    {{ form_widget(form.update) }}
    {{ form_end(form) }}
{% endblock %}
